.alignc
{
    text-align: center;
}
#alignl
{
    text-align: left;
}
#alignr
{
    text-align: right;
}
.pad
{
    padding: 5px;
}
#blck
{
    background-color: #000000;
    height: 32px;
}
.a1
{
    color: white;
}
.a1:hover
{
    text-decoration: none;
    color: white;
}
#bor
{
    border-bottom: 1px solid #efefef;
}
.i1:hover
{
    border: 1px solid #a3a3a3;

}
.p1
{
    font-size: 11px;
    color: #999999;
}
.p1:hover
{
    text-decoration: none;
    color: #999999;
}


.p2
{
    color: #000000;
}
.p2:hover{
    text-decoration: none;
    color: #000000;
}


.bordr
{
    border-bottom:1px solid #cbcbcb;
    padding-left: 15px;
    height: 50px;
    padding-top: 14px;

}
.border1
{
    border:1px solid #cbcbcb;
    padding-left: 15px;
    height: 50px;
    padding-top: 14px;
}

.bordr2
{
    color: #666666;
}

.a3
{
    color: black;
}
.pos
{
    position: relative;
    top:20px;
}
.dow
{
    font-size: 12px;
    text-decoration: underline;
    color: #666666;
}
.mpdp-discount-box {
    background-color: #ff0d03;
    color: #fff!important;
    border-radius: 1px;
    vertical-align: top;
    margin: -7px 0 0 60px;
    padding: 2px 4px;
    position: absolute;
}
.f11
{
    font-size: 14px;
}