
.align1
{
    text-align:center;
}
#search
{
    width: 304px;
    height: 32px;
}
#btns
{
    height: 32px;
    width: 50px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
}
#nav
{
    border-bottom: 4px solid #000000;
    width: 100%;
}
ul li a:link
{
    color: #000000;
    font-size: 14px;
}
ul li a:hover
{
    color: #f58623;
    border-bottom: 4px solid #f58623;

}
p
{
    color: grey;
    font-size: 10px;
    text-align: center;
}
.p1
{
    color: grey;
    font-size: 10px;
    text-align: left;
    margin: 0 0 0px;
}
a
{
    color: #000000;
}
a:hover{
    color: black;
}
#ban
{
    padding-top: 5px;
    border-bottom: 1px solid #c2c2c2;
}
h3
{
    border-bottom: 4px solid black;
    padding-bottom: 10px;
}
.pad
{
    padding-top: 20px;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 17px;
}
#marg
{
    margin-top: 25px;
}
#a1:hover
{
    text-decoration: none;
    color: #f58623;
}
#marg1
{
    margin-top: 40px;
}
.col
{
    background-color: #f6f3f3;
    color: #666;
    width: 100%;
}
.a2
{
    color: #666;
}

.box {
    padding: 3px 9px 7px;
    border-radius: 3px;
    background-color: #e7e7e7;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.23) inset,1px 0 1px rgba(255,255,255,0.75);
    margin-right: 57px;
    margin-top: 8px;
}
#txt
{
    border: 1px solid grey;
    border-radius: 5px;
    width:245px;
    height: 32px;
    margin-top:10px;
}
.btn
{
    height: 32px;
    width: 100px;
    border: 1px solid #efefef;
    background-color: white;
    margin-top: 10px;
    box-shadow: 1px 1px 1px 1px grey;
}
.imgh:hover
{
    opacity:0.5;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none !important;
}
.carousel-control.left {

    background-image: none !important;
}
h1
{
    color: #FFFFFF;
    font-size: 30px;
    text-shadow: 0 2px #bcbcbc;
    margin-bottom: 8px;
}
h4
{
    text-shadow: 0px 2px #bfbfbf;
    font-size: 18px;
    color: #999;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
#p2
{
    color: #999;
}
.pad3
{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}