.align1
{
    text-align:center;
}
#search
{
    width: 304px;
    height: 32px;
}
#btns
{
    height: 32px;
    width: 50px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
}
#nav
{
    border-bottom: 4px solid #000000;
    width: 100%;
}
ul li a:link
{
    color: #000000;
    font-size: 14px;
}
ul li a:hover
{
    color: #f58623;
    border-bottom: 4px solid #f58623;

}
p
{
    color: grey;
    font-size: 10px;
    text-align: center;
}
.p1
{
    color: grey;
    font-size: 10px;
    text-align: left;
    margin: 0 0 0px;
}
a:link
{
    color: #000000;
}
#ban
{
    padding-top: 5px;
    border-bottom: 1px solid #c2c2c2;
}
h3
{
    border-bottom: 4px solid black;
    padding-bottom: 10px;
}
.pad
{
    padding-top: 20px;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 17px;
}
#marg
{
    margin-top: 25px;
}
#a1:hover
{
    text-decoration: none;
    color: #f58623;
}
#marg1
{
    margin-top: 40px;
}
.col
{
    background-color: #f6f3f3;
    color: #666;
}
.a2:link
{
    color: #666;
}