body{
    margin: 0px;
}
#hedaer1
{
    box-shadow: 5px 3px 3px #e7e7e7;
    background-color: #FFFFFF;
    height: 62px;
    width:826px;
    float: left;
    padding-top: 8px;
    padding-left: 40px;
    position: fixed;
    z-index: 1;

}
#header2
{
    background-color: #FFFFFF;
    height:61px;
    width:420px;
    float: right;
    padding-top:9px;
    box-shadow: 5px 3px 3px #e7e7e7;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
}
.btn1
{
    background-color: #eaeaea;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
}
.btn1:hover
{
    background-color: rgba(1, 158, 205, 0.48);
}
#btn2
{
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    border-radius:50%;
}
#btn2:hover
{
    background-color: rgba(1, 158, 205, 0.48);
}
#nav
{
    background-color: rgba(1, 158, 205, 0.48);
    height: 39px;
    position: relative;
    float:left;
    width:978px;
    top: 71px;
    left:148px;
    padding-top:18px;

}
.inline
{

    padding-left:97px;
    font-size:19px;

}
a:link {
    color:#FFFFFF;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#ffffff;
    background-color:transparent;
    text-decoration:none;
}
a:hover
{
    color: #000000;
    background-color:transparent;

}
#detail
{
    background-image: url("tail-middle.jpg");
    float:left;
    background-repeat: no-repeat;
    height: auto;
    width: 1014px;
    margin-left: 132px;
    margin-right: 50px;
    background-size:100%;
    margin-top: 10px;
}
.align
{
    text-align: center;
}
table td
{
    padding: 10px;
}
.btn3 {
    background-color: rgba(1, 158, 205, 0.48);
    border-radius: 5%;
    border: none;
    height: 40px;
    width: 130px;
}
.sc:hover
{
    transform:scale(1.9);
}
#footer1
{
    background-color: #EFEFEF;
    height: 40px;
    width:826px;
    float: left;
    padding-top: 30px;
    padding-left: 40px;
    margin-top: 30px;
}
#footer2
{
    background-color: #efefef;
    height:52px;
    width:400px;
    float: right;
    padding-top:18px;
    padding-left: 20px;
    margin-top: 30px;
}
@keyframes example {
    0%   {color: grey;}
    25%  {color: #efefef;}
    50%  {color: #eaeaea;}
    100% {color: rgba(1, 158, 205, 0.48);}
}
#h {
    animation-name: example;
    animation-duration: 7s;
    font-size: 55px;
    color: #019ecc;
}
