body{
    margin: 0px;
    background-image: url("backg.jpg");
    background-repeat: repeat;
}


#hedaer1
{
    box-shadow: 8px 7px 13px #0aa89e;
    background-color: #EFEFEF;
    height: 40px;
    width:826px;
    float: left;
    padding-top: 30px;
    padding-left: 40px;
}
#header2
{
    background-color: #efefef;
    height:52px;
    width:420px;
    float: right;
    padding-top:18px;
    box-shadow: 8px 7px 13px #0aa89e;
}
.btn1
{
    background-color: #efefef;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
}
.btn1:hover {
    background-color: #0aa89e;

}
#btn2
{
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    border-radius:50%;
}
#btn2:hover
{
    background-color: #0aa89e;


}
#nav
{
    background-color: #EFEFEF;
    height: 39px;
    position: relative;
    float:left;
    width:978px;
    top: 10px;
    left:148px;
    padding-top:18px;
    position: fixed;
    z-index: 1;
    top:80px;


}
.inline
{

    padding-left:87px;
    font-size:25px;

}
a:link {
    color:#0aa89e;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#0aa89e;
    background-color:transparent;
    text-decoration:none;
}
a:hover
{
    color: #095e55;
    background-color:transparent;

}
#detail
{
    background-image: url("tail-middle.jpg");
    float:left;
    background-repeat: no-repeat;
    height: auto;
    width: 1014px;
    margin-left: 132px;
    margin-right: 50px;
    background-size:100%;
    margin-top: 10px;
}
.align
{
    text-align: center;
}
table td
{
    padding: 20px;
}
.btn3 {
    background-color: #0aa89e;
    border-radius: 5%;
    border: none;
    height: 40px;
    width: 130px;
}
.sc:hover
{
    transform:scale(1.9);
}
#footer1
{
    box-shadow: 8px 7px 13px #0aa89e;
    background-color: #EFEFEF;
    height: 40px;
    width:826px;
    float: left;
    padding-top: 30px;
    padding-left: 40px;
    margin-bottom: 10px;
}
#footer2
{
    background-color: #efefef;
    height:52px;
    width:400px;
    float: right;
    padding-top:18px;
    padding-left: 20px;
    box-shadow: 8px 7px 13px #0aa89e;

}
