body{
    margin: 0px;
    background-repeat: repeat;
}
#hedaer1
{
    box-shadow: 8px 7px 13px #0aa89e;
    background-color: #EFEFEF;
    height: 40px;
    width:826px;
    float: left;
    padding-top: 30px;
    padding-left: 40px;
    position: fixed;
    z-index: 1;

}
#header2
{
    background-color: #efefef;
    height:61px;
    width:420px;
    float: right;
    padding-top:9px;
    box-shadow: 8px 7px 13px #0aa89e;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
}
.btn1
{
    background-color: #efefef;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
}
.btn1:hover {
    background-color: #0aa89e;
}
#btn2
{
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    border-radius:50%;
}
#btn2:hover
{
    background-color: #0aa89e;
}
#nav
{
    background-color: #EFEFEF;
    height: 39px;
    position: relative;
    float:left;
    width:978px;
    top: 77px;
    left:148px;
    padding-top:18px;

}
.inline
{

    padding-left:72px;
    font-size:25px;

}
a:link {
    color:#0aa89e;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#0aa89e;
    background-color:transparent;
    text-decoration:none;
}
a:hover
{
    color: #095e55;
    background-color:transparent;

}
#slide
{
    padding-top: 10px;
    float: left;
    height: 500px;
    width:1280px;
}
#img_glry
{
    height: 300px;
    width:1280px;
    float:left;
}
#vedio
{
    height: 604px;
    width:644px;
    padding-top: 40px;
    background: linear-gradient(to top, #0aa89e 0%, #efefef 100%);    float:left;
    margin-top: 75px;
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 14px -14px 10px #095e55;
}
#content
{
    margin-top: 80px;
    height: 295px;
    margin-right: 20px;
    width: 434px;
    background: linear-gradient(to top, #0aa89e 0%, #efefef 100%);    float:right;
    text-align: justify;
    padding-left: 51px;
    padding-right: 47px;
    overflow: hidden;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: 13px -14px 61px #095e55;
}
#ifrm
{
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: -19px 28px 48px #095e55;
    height:216px;
    margin-right: 20px;
    width:433px;
    padding: 50px;
    float:right;
    margin-top: 28px;
    background: linear-gradient(to top, #0aa89e 0%, #efefef 100%);    float:right;
}
div.img
{
    margin-top: 30px;
    margin-left: 19px;
    padding-top:10px;
    padding-left:2px;
    padding-right:2px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    border: 1px solid #0aa89e;
}

div.img img {
    display: inline;
    margin: 5px;
    padding:10px;
}
div.desc
{
    color:#095e55;
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    margin:5px;
}
div.img a:hover img
{
    transform:scale(1.1);
    opacity: 0.5;
}
#footer1
{
    box-shadow: 8px 7px 13px #0aa89e;
    background-color: #EFEFEF;
    height: 40px;
    width:826px;
    float: left;
    padding-top: 30px;
    padding-left: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#footer2
{
    background-color: #efefef;
    height:52px;
    width:400px;
    float: right;
    padding-top:18px;
    padding-left: 20px;
    box-shadow: 8px 7px 13px #0aa89e;
    margin-top: 20px;
}
.align {
    text-align: center;
    padding-top: 30px;
    border: none;
}