body{
    margin: 0px;
}
#hedaer1
{
    box-shadow: 5px 3px 3px #e7e7e7;
    background-color: #FFFFFF;
    height: 62px;
    width:1262px;
    float: left;
    padding-top: 8px;
    padding-left: 1px;
    position: fixed;
    z-index: 1;

}
#header2
{
    background-color: #FFFFFF;
    height:49px;
    width:257px;
    float: right;
    padding-top:21px;
    box-shadow: 5px 3px 3px #e7e7e7;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
}
.btn1
{
    background-color: #eaeaea;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
}
.btn1:hover {
    background-color:rgba(1, 158, 205, 0.48);
}
#btn2
{
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    border-radius:50%;
}
#btn2:hover
{
    background-color: #0aa89e;
}
#nav
{
    background-color: rgba(1, 158, 205, 0.48);
    height: 39px;
    position: relative;
    float:left;
    width:978px;
    top: 72px;
    left:251px;
    padding-top:18px;
}
.inline
{
    padding-left:110px;
    font-size:19px;
}
a:link {
    color:#FFFFFF;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#ffffff;
    background-color:transparent;
    text-decoration:none;
}
a:hover
{
    color: #000000;
    background-color:transparent;
}
#slide
{
    padding-top: 10px;
    float: left;
    height: 500px;
    width:1520px;
}
#img_glry
{

    height: 300px;
    width:1520px;
    float:left;
}

#vedio
{
    height: 610px;
    width:769px;
    padding-top: 10px;
    background: linear-gradient(to top, rgba(1, 158, 205, 0.48) 0%, #efefef 100%);    float:left;
    margin-top: 75px;
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 0px 0px 3px #e2e2e2;
}
#content
{
    margin-top: 80px;
    height: 295px;
    margin-right: 30px;
    width: 544px;
    background: linear-gradient(to top, #dddddd 0%, #f0f0f0 100%);
    float:right;
    text-align: justify;
    padding-left: 51px;
    padding-right: 47px;
    overflow: hidden;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: 10px 0px 0px 3px #e2e2e2;
}
#ifrm
{
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: 10px 0px 0px 3px #e2e2e2;
    height:216px;
    margin-right: 30px;
    width:544px;
    padding: 38px;
    float:right;
    margin-top: 28px;
    background: linear-gradient(to top, #dddddd 0%, #f0f0f0 100%);
    float:right;
}
div.img
{
    margin-top: 30px;
    margin-left: 57px;
    padding-top:10px;
    padding-left:2px;
    padding-right:2px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    border: 1px solid #e7e7e7;
}

div.img img {
    display: inline;
    margin: 5px;
    padding:10px;
}
div.desc
{
    color: #7e7e7e;
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    font-size:20px;
    margin:5px;
}
div.img a:hover img
{
    transform:scale(1.1);
    opacity: 0.5;
}
#footer1
{
    background-color: #EFEFEF;
    height: 40px;
    width:1224px;
    float: left;
    padding-top: 30px;
    padding-left: 24px;
    margin-top: 30px;
}
#footer2
{
    background-color: #efefef;
    height:52px;
    width:272px;
    float: right;
    padding-top:18px;
    margin-top: 30px;
}
.align {
    text-align: center;
    padding-top: 30px;
    border: none;
}
p {
    font-size: 14px;
    color: rgb(95, 95, 95);
    line-height: 19.5px;
}
h1
{
    color: #817d7b;
}
#bt {
    height: 33px;
    width: 81px;
    border-radius: 23%;

}