body{
    background-image:url("Engineering Center - admissions.jpeg");
    background-size: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 10px;

    background-repeat: no-repeat;
}
#hedaer1
{
    box-shadow: 8px 7px 13px #0aa89e;
    background-color: #EFEFEF;
    height: 40px;
    width:826px;
    float: left;
    padding-top: 30px;
    padding-left: 40px;
}
#header2
{
    background-color: #efefef;
    height:52px;
    width:420px;
    float: right;
    padding-top:18px;
    box-shadow: 8px 7px 13px #0aa89e;
}
.btn1{
    background-color: #efefef;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
}

.btn1:hover {
    background-color: #0aa89e;

}
#btn2
{
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    border-radius:50%;
}
#btn2:hover
{
    background-color: #0aa89e;


}
#nav
{
    background-color: #EFEFEF;
    height: 39px;
    position: relative;
    float:left;
    width:978px;
    top: 6px;
    left:148px;
    padding-top:18px;

}
.inline
{

    padding-left:87px;
    font-size:25px;

}
a:link {
    color:#0aa89e;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#0aa89e;
    background-color:transparent;
    text-decoration:none;
}
a:hover
{
    color: #095e55;
    background-color:transparent;

}
#main
{
    height: 500px;
    width: 1028px;
    position:relative;
    top:179px;
    left:130px;
}
#pic
{
    height:400px;
    width: 410px;
    float: left;
}
#info {
    height: 400px;
    width: 610px;
    float: right;

}
#border
{
    border-radius: 50%;
}
.align
{
    text-align: center;
    text-shadow: 4px 2px 5px #0aa89e;
    font-family: 'Lobster', cursive;
}
.myprogress
{
    height: 36px;
    width: 358px;
    border:1px solid;
    border-color: #0aa89e;
    border-radius: 10%;
}
tr td {
    padding: 20px;

}
#footer1
{
    box-shadow: 8px 7px 13px #0aa89e;
    background-color: #EFEFEF;
    height: 40px;
    width:826px;
    float: left;
    padding-top: 30px;
    padding-left: 40px;
    margin-bottom: 10px;
    position: relative;
    bottom: -188px;
}
#footer2
{
    position: relative;
    bottom: -188px;
    background-color: #efefef;
    height:52px;
    width:400px;
    float: right;
    padding-top:18px;
    padding-left: 20px;
    box-shadow: 8px 7px 13px #0aa89e;

}
img:hover {
    transform: scale(1.1);
}
#h {
    animation-name: example;
    animation-duration: 7s;
    font-size: 55px;
    color: white;
}
@keyframes example {
    0%   {color: red;}
    10%  {color: yellow;}
    20%  {color: hotpink;}
    30% {color: #a4ff43;}
    40% {color: greenyellow;}
    50% {color: orangered;}
    60% {color: indianred;}
    70% {color: lightblue;}
    80% {color: #c095ff;}
    90% {color: #ff31b1;}
    100% {color: grey;}
    }
