body{
    background-image:url("Engineering Center - admissions.jpeg");
    background-size: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: -38px;

    background-repeat: no-repeat;
}
#hedaer1
{
    box-shadow: 5px 3px 3px #e7e7e7;
    background-color: #FFFFFF;
    height: 52px;
    width:826px;
    float: left;
    padding-top: 18px;
    padding-left: 40px;
    position: fixed;
    z-index: 1;

}
#header2
{
    background-color: #FFFFFF;
    height:61px;
    width:420px;
    float: right;
    padding-top:9px;
    box-shadow: 5px 3px 3px #e7e7e7;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
}
.btn1
{
    background-color: #eaeaea;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
}
.btn1:hover {
    background-color: rgba(10,168,158,0.51);
}
#btn2
{
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    border-radius:50%;
}
#btn2:hover
{
    background-color: #0aa89e;
}
#nav
{
    background-color: rgba(10,168,158,0.51);
    height: 39px;
    position: relative;
    float:left;
    width:978px;
    top: 72px;
    left:148px;
    padding-top:18px;

}
.inline
{

    padding-left:97px;
    font-size:19px;

}
a:link {
    color:#FFFFFF;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#ffffff;
    background-color:transparent;
    text-decoration:none;
}
a:hover
{
    color: #000000;
    background-color:transparent;

}
#main
{
    height: 500px;
    width: 1028px;
    position:relative;
    top:215px;
    left:130px;
}
#pic
{
    height:400px;
    width: 410px;
    float: left;
}
#info {
    height: 400px;
    width: 610px;
    float: right;

}
#border
{
    border-radius: 50%;
}
.align
{
    text-align: center;
    text-shadow: 4px 2px 5px #0aa89e;
    font-family: 'Lobster', cursive;
}
.myprogress
{
    height: 36px;
    width: 358px;
    border:1px solid;
    border-color: white;

}
tr td {
    padding: 20px;

}
#footer1
{
    background-color: #EFEFEF;
    height: 40px;
    width:826px;
    float: left;
    padding-top: 30px;
    padding-left: 40px;
    margin-top: 297px;
}
#footer2
{
    background-color: #efefef;
    height:52px;
    width:400px;
    float: right;
    padding-top:18px;
    padding-left: 20px;
    margin-top: 297px;
}
img:hover {
    transform: scale(1.1);
}
#h {
    animation-name: example;
    animation-duration: 7s;
    font-size: 55px;
    color: white;
}
@keyframes example {
    0%   {color: grey;}
    25%  {color: #efefef;}
    50%  {color: #eaeaea;}
    100% {color : #e7e7e7;}

}