body
{
    background: linear-gradient(to bottom, #efefef 0%,rgba(83, 238, 245, 1)100%)fixed;
    text-align: center;
}
#border1
{
    border: 1px solid rgb(26,74,158);
    border-radius: 10%;
}
#marg
{
 padding-top: 40px;
}
.m
{
    text-shadow: 4px 4px 5px rgb(26,74,158);

}
#btn
{
    animation: mymove 5s infinite;

    background-color: rgb(26,74,158);
    border-radius: 5%;
    border:none;
    height:50px;
    width: 200px;
    text-shadow: 6px 10px 2px rgb(26,74,158);
}
@keyframes mymove {
    from {background-color: violet;}
    to {background-color: rgb(26,74,158);}
}
